body {
    font-family: 'Roboto', sans-serif;
    color: #E8E8E8;
    background-color: #080F1B;
  }
  
  h1 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(255,255,255,0.8); 
  }
  
  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #board{
    border-collapse: collapse;
  }
  
  #board td{
    border: 1px solid rgb(22, 36, 59);
    width: 16px;
    height: 16px;
  }

  .alive {
    background-color: #8CC8DD;
  }

  a {
    color: #73A4B5;
  }
  
  #control_panel {
    margin: 10px 0 50px 0;
  }
  
  button {
    padding: 0.5em 1em;
    margin: 0.25em;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(22, 36, 59);
    color: #BBC7CE; 
  }
  
  button:hover {
    background-color: #07354E;
    color: #FFFFFF;
  }
  

  button:disabled {
      opacity: 0.3;
  }

  .control-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1rem;
  }

  .footer {
      text-align: center;
      font-size: 1rem;
      margin-top: 1rem;
      color: rgba(255,255,255,0.4); 
  }